include stochpy/core2/*
include stochpy/implementations/*
include stochpy/lib/*
include stochpy/modules/*
include stochpy/pscmodels/*
include stochpy/tools/*
include CONTRIBUTORS
include LICENSE
include README.md
include requirements.txt
include VersionUpdates.txt